/* Full-width input fields */
input[type=text], input[type=password], input[type=address] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background-color: #D0C9C0;

}

input[type=text]:focus, input[type=password]:focus, input[type=address]{
  background-color: #D0C9C0;
  outline: none;
}


button:hover {
  opacity:1;
}

/* Float signup button*/
.signupbtn {
  width: 20%;
  border-radius: 7px;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
.signupbtn {
    width: 100%;
  }
}


body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #6B7E6D;
    font-family: 'Ysabeau Office', sans-serif;
  }
  
  .container {
    max-width: 1000px;
    padding: 30px;
    margin: 50px auto;
    background-color: #EFEAD8;    
  }
  
  .form {
    background-color: #94B29B;
    margin: 50px auto;
    padding: 30px
  }
  
  .title {
    text-align: center;
    background-color: #EFEAD8;
    padding: 50px;
    margin-top: 400px;
    display: flex;
    align-items: center;
  }

  .logo {
    max-width: 20%;
    padding-left: 10px;
    margin-top: 90px;
    float: left;
  }
  
  .text-box {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background-color: #D0C9C0;
  }
  
  button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  
  .submit {
    text-align: center;
  }
  
  .inline-p {
    display: inline-block;
    vertical-align: middle;
    margin-right: 820px;
  }
  
  .guest {
    margin-right: 0;
  }

  @media screen and (max-width: 600px) {
    .inline-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: left;
    }
  }
  
  .inline-p {
    margin-bottom: 0;
  }